
* {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.s1 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 7.5pt;
}

.s2 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 7.5pt;
}

.s3 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 7.5pt;
  vertical-align: 1pt;
}

p {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 7.5pt;
  margin: 0pt;
}

.s4 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  font-size: 7.5pt;
}

.s5 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 6.5pt;
}

table,
tbody {
  vertical-align: top;
  overflow: visible;
}